html, body {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	background-color: #F9E8D4;
	font-family: 'Gentium Basic', serif;
}

*, *:before, *:after {
	box-sizing: border-box;
}

header {
	background-color: #503f27;
	color: #FDFAF6;
	max-width: 100%;
	height: 175px;
	margin: 0 auto;
	display: flex;
	flex-direction: row-reverse;
}

main {
	max-width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color;
}

h1 {
	max-width: 90%;
	margin: 1em auto;
	font-family: 'Eczar', serif;
	color: #5B1610;
}


h5 {
	font-size: 32px;
}

h2 {
	color: #F98948;
	font-size: 32px;
	margin: .25em auto;
}

ul {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;;
	align-items: flex-start;
	padding: 0;
}

li span {
	visibility: collapse;
}

.user-card {
	width: 290px;
	margin: .5em auto;
	diplay: box;
	box-shadow: .1em .1em .05em .05em #838488;
	border: .02em solid #EAE7E3;
	background-color: #FDFAF6;
	text-align: left;
}

.background {
	background-color: #6B6968;
	background-image: url("images/hypnotism-poster2.jpg");
	background-repeat: no-repeat; background-position: -210px -465px;
	background-blend-mode: lighten;
	position: relative;
	height: 7em;
}

.label, .fill-content {
	color: #5B1610;
	font-size: 16px;
}

.profile-copy {
	padding: 1em;
}


.admin-dropdown {
	margin-top: .75em;;
	font-size: 1em;
	font-weight: 400;
	min-width: 5em;
}

.mustache {
	display: flex;
}

.company-logo {
	font-size: 36px;
	color: #F98948;
	font-family: 'Eczar', serif;
	font-weight: bold;
	text-align: justify;
}

.logo {
	border-radius: 100%;
	margin: 0 .5em;
}

.small {
	width: 1.75em;
}

.large {
	width: 3em;
}

.admin-group {
	display: flex;
	flex-direction: column;
	width: 60%;
	padding-top: 1em;
	height: 100%;
	margin-right: 1em;
	justify-content: center;
	align-items: flex-end;
}



.dropdown {
	display: inline-block;
	padding: 0 0 0 1em;
}

.nav-label {
	list-style: none;
	display: inline-block;
}

.background .logo {
	margin: .75em;
}

.views, .number {
	position: absolute;
	right: .75em;
	top: .1em;
}

.views {
	margin-top: .75em;
	color: #FFFFFF;
}

.number {
	margin-top: 1em;
	margin-left: .5em;
	font-size: 32px;
	/*color: #F98948;*/
	color: #FFFFFF;
}

.fill-content {
	font-weight: bold;
}

.date {
	font-size: 12px;
}

.url-box {
	max-width: 270px;
	margin: 0 auto;
	background-color: #F9E8D4;
	overflow-wrap: normal;
	height: 2em;
	padding: .5em;
	text-align: center;
	font-style: oblique;
	}



@media screen and (min-width: 630px){

	main {
		text-align: center;
		max-width: 920px;
		margin: 0 auto;
	}

	.user-card{
		display: inline-block;
		margin: 0 .5em 1em 0;
	}

	li span {
		visibility: visible;
		margin-bottom: 1em;
	}

	ul {
		width: 50%;
		flex-direction: row;
		align-items: flex-end;
		justify-content: flex-start;
		margin-left: 2em;
	}
}

@media screen and (min-width: 930px){
	main {
		max-width: 930px;
		margin: 0 auto;
		text-align: left;
	}
}

@media screen and (min-width: 1200px){

	main {
		max-width: 100%;
		text-align: center;
	}

	.user-card{
		text-align: left;
	}

	.admin-group {
		margin-right: 3em;
	}
}
